@model IEnumerable<MVCTask.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmnetManager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmnetManager)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.DepartmentId" class="btn bg-secondary text-white">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.DepartmentId" class="btn bg-primary text-white">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.DepartmentId" class="btn bg-danger text-white">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
